DAQCrateAnalyzer.ccORIGINAL.cc
.viminfo
.login
.history
.cshrc
.Xdefaults
.Xauthority
.scicomp
.local/share/mc
.emacs.d/auto-save-list
.dbus/session-bus
slurmJobs/
*.slurm
trd/
TRDData/
DAQCrateAnalyzer2.cc
.gitconfig
.root_hist
.vim/
.ssh/
.vimrc
